*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  background-color: hsl(210, 46%, 95%);
  color: hsl(217, 19%, 35%);
}

.container {
  position: relative;
  width: 87.2%;
  max-width: 25rem;
  min-height: 32rem;
  margin: 4.625rem auto;
  background-color: white;
  border-radius: 10px;
}

.image-container {
  height: 12.5rem;
  background-image: url(./images/drawers.jpg);
  border-radius: 10px 10px 0 0;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center -15px;
  background-repeat: no-repeat;
}

.content {
  padding: 2.25rem 2.2rem 0;
}

h1 {
  font-size: 1rem;
  letter-spacing: 0.0125rem;
  line-height: 1.5rem;
}

h2,
h3,
p {
  font-size: inherit;
  letter-spacing: 0.121875px;
  line-height: 1.25rem;
}

h3 {
  color: hsl(212, 23%, 69%);
  font-weight: 400;
}

p {
  color: hsl(214, 17%, 51%);
  margin-top: 1em;
}

.article {
  height: 100%;
}

.stop-overlap {
  height: 5.5rem;
}

.author-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2.2rem;
  margin-bottom: 1rem;
}

.avatar {
  border-radius: 100px;
}

.name {
  align-self: center;
  margin-right: 15%;
}

.arrow {
  width: 32px;
  height: 32px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 100px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.arrow:hover {
  transform: rotate(360deg);
  opacity: 0.55;
}

.active {
  display: none;
}

.active-state {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: hsl(217, 19%, 35%);
  border-radius: 0 0 10px 10px;
}

.flex {
  display: flex;
  padding: 1.2rem 2.2rem;
  align-items: center;
  justify-content: space-between;
}

h4 {
  display: inline-block;
  color: hsl(212, 23%, 69%);
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
}

.icons {
  display: flex;
  align-items: center;
}

.icons img {
  margin-left: 0.9rem;
  height: 20px;
}

.flex .arrow {
  background-color: hsl(214, 17%, 51%);
  height: 32px;
  width: 32px;
}

@media (min-width: 900px) {
  body {
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    width: 45.625rem;
    max-width: 45.625rem;
    height: 17.5rem;
    min-height: 17.5rem;
  }

  .image-container {
    width: 39%;
    height: unset;
    border-radius: 10px 0 0 10px;
    background-position: unset;
  }

  .article {
    width: 61%;
  }

  .author-section {
    width: inherit;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.25rem;
    letter-spacing: 0.25px;
    line-height: 1.75rem;
  }

  .name {
    margin-right: 40%;
  }

  /* active state */
  .active-state {
    width: 15.5rem;
    bottom: unset;
    border-radius: 10px;
    top: 130px;
    right: -70px;
  }

  .bubble {
    background-color: hsl(217, 19%, 35%);
    position: relative;
    height: 24px;
    width: 24px;
    top: 28px;
    right: 75px;
    transform: rotate(47deg) skew(5deg);
  }

  .flex .arrow {
    display: none;
  }
}
